@model PaginationModal<JobDTO>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = "all jobs";
}
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

@if(Model.Count == 0){
    <h2>No any jobs. Add jobs first</h2>
}else {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created Date</th>
                <th>Position</th>
                <th>Company</th>
                <th>Status</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var job in Model){
                Enum.TryParse(job.Status.GetProperty("Text")?.ToString(), out PublishedStatus StatusText);
                var StatusChangeUrl = job.Status.GetProperty("ChangeUrl")?.ToString();
                <tr>
                    <td>@job.CreatedDate</td>
                    <td>@job.Position</td>
                    <td>@job.Company.Name</td>
                    <td><published-status status="@StatusText" change-url="@StatusChangeUrl"></published-status></td>
                    <td><a href="@job.Url" class="btn btn-primary">Read</a></td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage? "": "disabled")">
                <a asp-action="AllJobs" asp-controller="Dashboard" asp-route-page="@(Model.CurrentPage -1)" class="page-link"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for(int i =1; i<=Model.TotalPage; i++){
                <li class="page-item @(i == Model.CurrentPage ? "active": "")">
                    <a asp-controller="Dashboard" asp-action="AllJobs" asp-route-page="@i" class="page-link">@i</a>
                </li>
            }
            <li class="page-item  @(Model.HasNextPage? "": "disabled")">
                <a  class="page-link" asp-controller="Dashboard" asp-action="AllJobs" asp-route-page="@(Model.CurrentPage +1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}

@section Scripts{
    <script src="~/js/job-index.js"> </script>
}