@model Job
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detail";
    var partialVm = new JobLinkViewModel();
    partialVm.Title = Model.Title;
    partialVm.LinkUrl = Context.Request.GetDisplayUrl();
}
@await Html.PartialAsync("_MailModalPartial", partialVm)
<!-- job post company Start -->
<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <!-- job single -->
                <div class="single-job-items mb-50" style="background-color:#F8F8F8;">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img src="~/img/icon/job-list1.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>@Model.Title</h4>
                            </a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>@Model.Location</li>
                                <li>@Model.GetFormattedSalary</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- job single End -->

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle d-flex vertical-align-middle">
                            <h4>Job Description</h4>
                            <a data-toggle="modal" data-target="#email-modal" class="d-block ml-auto"><i
                                    class="fas fa-envelope text-success" style="font-size: 1.5rem;"></i></a>
                        </div>
                        <p>@Model.Description</p>
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Required Knowledge, Skills, and Abilities</h4>
                        </div>
                        <ul>
                            <li>System Software Development</li>
                            <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                            <li>Research and code , libraries, APIs and frameworks</li>
                            <li>Strong knowledge on software development life cycle</li>
                            <li>Strong problem solving and debugging skills</li>
                        </ul>
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Education + Experience</h4>
                        </div>
                        <ul>
                            <li>3 or more years of professional design experience</li>
                            <li>Direct response email experience</li>
                            <li>Ecommerce website design experience</li>
                            <li>Familiarity with mobile and web apps preferred</li>
                            <li>Experience using Invision a plus</li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted date : <span>@Model.CreatedOn.GetHumanFriendlyDate()</span></li>
                        <li>Location : <span>@Model.Location</span></li>
                        <li>Vacancy : <span>@Model.Vacancy</span></li>
                        <li>Job nature : <span>@Model.Type.GetDisplayName()</span></li>
                        <li>Salary : <span>@Model.GetFormattedSalary</span></li>
                        <li>Deadline : <span>@Model.Deadline.GetHumanFriendlyDate()</span></li>
                    </ul>
                    <div class="apply-btn2">
                        <a href="#" class="btn">Apply Now</a>
                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Company Information</h4>
                    </div>
                    <span>Colorlib</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <ul>
                        <li>Name: <span>Colorlib </span></li>
                        <li>Web : <span> colorlib.com</span></li>
                        <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job post company End -->
