@model List<Job>
@if(Model.Count >0){
    @foreach(var job in Model){
        <div class="single-job-items mb-30">
            <div class="job-items">
                <div class="company-img">
                    <a href="job_details.html"><img src="~/img/icon/job-list1.png" alt="company logo of poster"></a>
                </div>
                <div class="job-tittle">
                    <a href="job_details.html"><h4>@job.Title</h4></a>
                    <ul>
                        <li>Company posting job</li>
                        <li><i class="fas fa-map-marker-alt"></i>@job.Location</li>
                        <li>@job.GetFormattedSalary</li>
                    </ul>
                </div>
            </div>
            <div class="items-link f-right">
                <a href="job_details.html">@job.Type.GetDisplayName()</a>
                <span>@job.GetHumanFriendlyCreatedDate</span>
            </div>
        </div>
    }

}else 
{
    <h2>No job exists for @(ViewBag.Category as string) </h2>
}