@model HomeViewModel
@{
    ViewBag.Title = "Home";
    Random rnd = new Random();
    Dictionary<string, string> categoryToClassName = new Dictionary<string, string>(){
        {"Design & Creative", "tour"},
        {"Design & Development", "cms"},
        {"Sales & Marketing", "report"},
        {"Mobile Application", "app"}, 
        {"Construction", "helmet"}, 
        {"Information Technology", "high-tech"}, 
        {"Real Estate", "real-estate"}, 
        {"Content Writer", "content"}
    };

    string GetCssClassName(string category){
        if(categoryToClassName.TryGetValue(category, out string className))
        {
            return className;
        }
        else 
        {
            return "app";
        }
    }
}

<!-- Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center" data-background="/img/hero/h1_hero.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1>Find the most exciting startup jobs</h1>
                        </div>
                    </div>
                </div>
                <!-- Search Box -->
                <div class="row">
                    <div class="col-xl-8">
                        <!-- form -->
                        <form action="#" class="search-box">
                            <div class="input-form">
                                <input type="text" placeholder="Job Tittle or keyword">
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1">
                                        <option value="">Location BD</option>
                                        <option value="">Location PK</option>
                                        <option value="">Location US</option>
                                        <option value="">Location UK</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-form">
                                <a href="#">Find job</a>
                            </div>	
                        </form>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- Our Services Start -->
<div class="our-services section-pad-t30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <h2> Popular Categories </h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center">
            @foreach(var category in Model.Categories)
                {
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-@GetCssClassName(category.Name)"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">@category.Name</a></h5>
                            <span>(@category.Jobs.Count())</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Our Services End -->
<!-- Online CV Area Start -->
    <div class="online-cv cv-bg section-overly pt-90 pb-120"  data-background="/img/gallery/cv_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="cv-caption text-center">
                    <p class="pera1">FEATURED TOURS Packages</p>
                    <p class="pera2"> Make a Difference with Your Online Resume!</p>
                    <a href="#" class="border-btn2 border-btn4">Upload your cv</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Online CV Area End-->
<!-- Featured_job_start -->
<section class="featured-job-area feature-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <h2>Featured Jobs</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        <!-- Left content -->
            <div class="col-xl-3 col-lg-3 col-md-4 show-more">
                <form asp-action="JobFilters" asp-controller="Home" method="GET" id="filter-form">
                    <div class="row">
                        <div class="col-12">
                                <div class="small-section-tittle2 mb-45">
                                <div class="ion"> <svg 
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="20px" height="12px">
                                <path fill-rule="evenodd"  fill="rgb(27, 207, 107)"
                                    d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"/>
                                </svg>
                                </div>
                                <h4>Filter Jobs</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Job Category Listing start -->
                    <div class="job-category-listing mb-50">
                        <!-- single one -->
                        <div class="single-listing">
                            <div class="small-section-tittle2">
                                    <h4>Job Category</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select asp-for="Filter.Category" id="category-dropdown">
                                    <option value="all">All Category</option>
                                    @foreach(var category in Model.Categories){
                                        <option value="@category.Name">@category.Name</option>
                                    }
                                </select>
                            </div>
                            <!--  Select job items End-->
                            <!-- select-Categories start -->
                            <div class="select-Categories pt-80 pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Job Type</h4>
                                </div>
                                <div id="job-type-checkbox-container">
                                    @for(int i =0; i< Model.Filter.Type.Count; i++)
                                        {
                                        <label class="container">@Model.Filter.Type[i].Text
                                            <input asp-for="@Model.Filter.Type[i].Selected">
                                            <input type="hidden" asp-for="@Model.Filter.Type[i].Value">
                                            <span class="checkmark"></span>
                                        </label>
                                        }
                                </div>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <!-- single two -->
                        <div class="single-listing">
                            <div class="small-section-tittle2">
                                    <h4>Job Location</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select name="select">
                                    <option value="">Anywhere</option>
                                    <option value="">Category 1</option>
                                    <option value="">Category 2</option>
                                    <option value="">Category 3</option>
                                    <option value="">Category 4</option>
                                </select>
                            </div>
                            <!--  Select job items End-->
                            <!-- select-Categories start -->
                            <div class="select-Categories pt-80 pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Experience</h4>
                                </div>
                                <div id="experience-checkbox-container">

                                @for(int i=0;i < Model.Filter.Experience.Count(); i++){
                                    <label class="container">@Model.Filter.Experience[i].Text
                                        <input asp-for="@Model.Filter.Experience[i].Selected" >
                                        <input type="hidden"  asp-for="@Model.Filter.Experience[i].Value">
                                        <span class="checkmark"></span>
                                    </label>
                                }
                                </div>

                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <!-- single three -->
                        <div class="single-listing">
                            <!-- select-Categories start -->
                            <div class="select-Categories pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Posted Within</h4>
                                </div>
                                <div id="posted-duration-checkbox-container">
                                    @for(int i=0;i <Model.Filter.PostedWithin.Count();i++){
                                        <label class="container">@Model.Filter.PostedWithin[i].Text
                                            <input asp-for="Filter.PostedWithin[i].Selected" >
                                            <input type="hidden" asp-for="Filter.PostedWithin[i].Value" >
                                            <span class="checkmark"></span>
                                        </label>
                                    }

                                </div>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <div class="single-listing">
                            <!-- Range Slider Start -->
                            <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                                <div class="small-section-tittle2">
                                    <h4>Filter Jobs</h4>
                                </div>
                                <div class="widgets_inner">
                                    <div class="range_item">
                                        <!-- <div id="slider-range"></div> -->
                                        <input type="text" class="js-range-slider" value="" />
                                        <div class="d-flex align-items-center">
                                            <div class="price_text">
                                                <p>$(10K):</p>
                                            </div>
                                            <div class="price_value d-flex justify-content-center">
                                                <input class="js-input-from"  id="min-amount" readonly/>
                                                <span>to</span>
                                                <input class="js-input-to" id="max-amount" readonly/>
                                            </div>
                                                <input type="hidden" id="salary-max" asp-for="Filter.MaxSalary">
                                                <input type="hidden" id="salary-min" asp-for="Filter.MinSalary">
                                                <input type="hidden" id="slider-change-fetch-trigger">
                                           
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!-- Range Slider End -->
                        </div>
                    </div>
                <!-- Job Category Listing End -->
                </form>

            </div>
            <!-- Right content -->
            <div class="col-xl-9 col-md-8">
                <div id="job-container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="count-job mb-35 d-flex">
                                <span class="mr-auto">@Model.Jobs.Count() Jobs found</span>
                                <!-- Select job items start -->
                                <div class="select-job-items d-flex">
                                    <span>Sort by</span>
                                    <select name="select" class="sort-select">
                                        <option value="">None</option>
                                        <option value="">job list</option>
                                        <option value="">job list</option>
                                        <option value="">job list</option>
                                    </select>
                                </div>
                                <!--  Select job items End-->
                            </div>
                        </div>
                    </div>
                    @foreach(var job in Model.Jobs){
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="job_details.html"><img src="~/@job.Company.GetBrandImagePath" class="company-brand"
                                    alt="@job.Company.Name logo"></a>
                                </div>
                                <div class="job-tittle">
                                    <a asp-action="Detail" asp-controller="Job" asp-route-id="@job.Id"><h4>@job.Title</h4></a>
                                    <ul>
                                        <li>@job.Company.Name</li>
                                        <li><i class="fas fa-map-marker-alt"></i>@job.Location</li>
                                        <li>@job.GetFormattedSalary</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a asp-action="Detail" asp-controller="Job" asp-route-id="@job.Id">@job.Type.GetDisplayName()</a>
                                <span>@job.CreatedOn.GetHumanFriendlyDate()</span>
                            </div>
                        </div>
                    }
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-50">
                    <button  class="border-btn2" id="show-filters">Show All Jobs</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured_job_end -->
<!-- How  Apply Process Start-->
<div class="apply-process-area apply-bg pt-150 pb-150" data-background="/img/gallery/how-applybg.png">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle white-text text-center">
                    <span>Apply process</span>
                    <h2> How it works</h2>
                </div>
            </div>
        </div>
        <!-- Apply Process Caption -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-search"></span>
                    </div>
                    <div class="process-cap">
                        <h5>1. Search a job</h5>
                        <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-curriculum-vitae"></span>
                    </div>
                    <div class="process-cap">
                        <h5>2. Apply for job</h5>
                        <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="process-cap">
                        <h5>3. Get your job</h5>
                        <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
<!-- How  Apply Process End-->
<!-- Testimonial Start -->
<div class="testimonial-area testimonial-padding">
    <div class="container">
        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    @foreach(var testimonial in Model.Testimonials){
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img mb-30">
                                        @if(!string.IsNullOrEmpty(testimonial.ImageName)){
                                            <img src="~/@testimonial.ImagePath" alt="" class="image-testimonial">
                                        }
                                        <span>@testimonial.Name</span>
                                        <p>@testimonial.Designation</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“@testimonial.Description”</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
    <!-- Support Company Start-->
    <div class="support-company-area support-padding fix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2">
                        <span>What we are doing</span>
                        <h2>24k Talented people are getting Jobs</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">Mollit anim laborum duis au dolor in voluptate velit ess cillum dolore eu lore dsu quality mollit anim laborumuis au dolor in voluptate velit cillum.</p>
                        <p>Mollit anim laborum.Duis aute irufg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur signjnt occa cupidatat non inulpadeserunt mollit aboru. temnthp incididbnt ut labore mollit anim laborum suis aute.</p>
                        <a href="about.html" class="btn post-btn">Post a job</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="support-location-img">
                    <img src="~/img/service/support-img.jpg" alt="">
                    <div class="support-img-cap text-center">
                        <p>Since</p>
                        <span>1994</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Support Company End-->
<!-- Blog Area Start -->
<div class="home-blog-area blog-h-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>Our latest blog</span>
                    <h2>Our recent news</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var post in Model.Posts){

                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="~/@post.ImagePath" alt="">
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>@post.CreatedOn.ToString("dd MMM")</span>
                                </div>
                            </div>
                            <div class="blog-cap">
                                <p>|   Properties</p>
                                <h3><a asp-action="Detail" asp-controller="Post" asp-route-id="@post.Id">@post.Title</a></h3>
                                <a href="#" class="more-btn">Read more »</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Blog Area End -->


@section Scripts{
    <script>
    document.getElementById("show-filters").onclick = function(){
        Object.values(document.getElementsByClassName("show-more")).forEach(function(elem){
            elem.style.display = "block";
        });
    }   


    Object.values(document.querySelectorAll("#job-type-checkbox-container input")).forEach(function(elem){
        elem.onchange = async function(event){
            await FetchAndUpdate();
        }
    });

    document.querySelector(".js-input-from")


    Object.values(document.querySelectorAll("#experience-checkbox-container input")).forEach(function(elem){
        elem.onchange = async function(event){
            await FetchAndUpdate();
                console.log(document.getElementById("min-amount").value);
                console.log(document.getElementById("max-amount").value);
        }
    });

    Object.values(document.querySelectorAll("#posted-duration-checkbox-container input")).forEach(function(elem){
        elem.onchange = async function(event){
            await FetchAndUpdate();
        }
    });

        document.getElementById("slider-change-fetch-trigger").onchange = async function(event)
        {
            console.log("slider change occured");
            await FetchAndUpdate();
        }


    function ArrayToObject(data){
       result =  data.map(obj =>  {
           return{[obj.name]: obj.value}
       })
       var dataObject = {}
       for(var i=0;i< result.length;i++){
           dataObject = Object.assign(dataObject,result[i])
       }
       return dataObject;
    }

    async function FetchAndUpdate(){
       Object.values(document.querySelectorAll(`input[type="hidden"]`)).forEach(function(hiddenInput){
           if(hiddenInput.value === "false"){
               hiddenInput.parentNode.removeChild(hiddenInput);
           }
       });
        var dataArray =  $("#filter-form").serializeArray();
        var data =  ArrayToObject(dataArray);
        var result =  await FilterJob(data);
        document.getElementById("job-container").innerHTML = result.body;
        window.history.pushState("", "", `${result.search}`);  
    }

    document.getElementById("category-dropdown").onchange = async function(event){
        await FetchAndUpdate();
    }

    async function FilterJob(data ={}){
        var baseUrl = new URL("https://localhost:5001/home/jobfilters");
        baseUrl.search = new URLSearchParams(data).toString();
        const response = await fetch(baseUrl);
        return {body: await response.text(), search: baseUrl.search}
    } 
    </script>
}